In [1]:
import pandas
import configparser
import psycopg2

In [2]:
config = configparser.ConfigParser()
config.read('config.ini')

db = config ['myaws']['db']
host = config['myaws']['host']
user =  config['myaws']['user']
pwd = config['myaws']['pwd']

In [6]:
conn= psycopg2.connect(
                        host = host,
                        user = user,
                        password = pwd,
                        dbname = db)

In [7]:
sql= """ select price, house_type
        from house_price_full
"""

In [11]:
df= pandas.read_sql_query(sql, conn)

df.groupby('house_type').mean()

/tmp/ipykernel_7700/4118868301.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pandas.read_sql_query(sql, conn)

KeyError: 'house_type'

In [9]:
sql= """ select avg(price) as avg_price,house_type
            from house_price_full
            group by house_type
"""

In [10]:
sql= """ select * from student
"""

In [ ]:
cur= conn.cursor()

sql= """"
    insert into student(s_email,s_name,major)
    values ('{}', '{}','{}')
    """.format('s5@jmu.edu','s3','IA')
print(sql)

cur.execute(sql)